<!DOCTYPE html>
<html lang="en" ng-app="ItMadelApp" ng-controller="appCtrl" lock-scroll="indexScope.isLockScroll">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../static/css/all.min.css" />
<title ng-bind="html.title"></title>
</head>

<body  ng-cloak lock-scroll="html.isLockScroll" ng-style="html.style" class="no-touch">
        <main ng-controller="indexCtrl"> 
            <div class="lang content-box">
                <div class="signin-container clearfix">
                    <a href="javascript:;" ng-click="toSignIn()">登入</a>
                    <a href="javascript:;" ng-click="toLogin()">注册</a>
                </div>
            </div>

            <header id="index-header">

                <nav class="clearfix content-box">
                    <div class="logo"><img src="../static/images/logo.png" alt="ITMedal-logo" /></div>
                    <ul class="clearfix">
                        <li ng-click="setTab(0)" ng-class="{'active':tab==0||tab==null}"><p>首页</p></li>
                        <li ng-click="setTab(1)" ng-class="{'active':tab==1}"><p>勋章</p></li>
                        <li ng-click="setTab(2)" ng-class="{'active':tab==2}"><p>GOOD IDEA</p></li>
                        <li ng-click="setTab(3)" ng-class="{'active':tab==3}"><p>日志</p></li>
                        <li ng-click="setTab(4)" ng-class="{'active':tab==4}"><p>关于我们</p></li>
                    </ul>
             
                    <div class="search" ng-class="{'show':toInput,'line':needLine}" input-focus>
                        <button class="search-btn" >
                            <i class="material-icons">search</i>
                        </button>
                        <button class="search-close-btn" ng-click="toInput=false">
                            <i class="material-icons">close</i>
                        </button>
                        <input type="text" id="search-input" autocomplete="off" ng-model="search" ng-focus="needLine=true" ng-blur="needLine=false">
                        <label for="search-input" ng-class="{'writing':search.length>0}">Search</label>
                    </div>
                </nav>
            </header>

            <div ui-view></div>
            <footer id="index-footer" layout="column">
                <div class="content-box" layout="row" layout-wrap flex="auto">
                    <div flex="25">
                        <dl class="about-us">
                            <dt >关于我们</dt>
                            <dd>我们致力于为IT人提供专业的IT贴纸,以及密切关注IT人的需求.</dd>
                        </dl>
                    </div>
                    <div flex="25">
                        <dl class="contact-us">
                            <dt >联系我们</dt>
                            <dd><a class="location" href=""><i class="material-icons">location_on</i>XXX</a></dd>
                            <dd><a class="phonenum" href=""><i class="material-icons">call</i>12332112345</a></dd>
                            <dd><a class="e-mail" href=""><i class="material-icons">email</i>123456@gmail.com</a></dd>
                        </dl>
                    </div>
                    <div flex="25">
                        <dl class="sitemap">
                            <dt >sitemap</dt>
                            <dd><a href="">勋章</a></dd>
                            <dd><a href="">GOODIDEA</a></dd>
                            <dd><a href="">日志</a></dd>
                        </dl>
                    </div>
                    <div flex="25" class="clearfix">
                        <dl class="qr-code">
                            <dt>更多关注,请扫描二维码</dt>
                            <dd><i></i></dd>
                        </dl>
                    </div>
                </div>
                <div class="copyright content-box" flex="none">
                    <div class="copy">
                        <p>
                            <span>@Copyright 2016 itstickers.com|All logos and trademarks are property of their respective owners.</span>
                            <span></span>
                        </p>
                    </div>
                    <div class="shareto">
                        <md-button class="md-fab" ng-href="https://www.facebook.com/"> 
                            <ng-md-icon icon="facebook" style="fill: #fff" size="16px"></ng-md-icon>
                        </md-button>
                        <md-button class="md-fab" ng-href="https://twitter.com/"> 
                            <ng-md-icon icon="twitter" style="fill: #fff" size="16px"></ng-md-icon>
                        </md-button>
                        <md-button class="md-fab" ng-href="https://plus.google.com/"> 
                            <ng-md-icon icon="google-plus" style="fill: #fff" size="16px"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </footer>
            <div login-form ng-if="showForm=='login'"></div>
            <div sign-in-form ng-if="showForm=='signIn'"></div>
            <div reset-password ng-if="showForm=='resetPassword'"></div>
        </main>
    </body>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="../static/js/jsModule/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 
    <script src="../static/js/jsModule/angular-ui-router.min.js"></script>
    <script src="../static/js/jsModule/angular-animate.min.js"></script>
    <script src="../static/js/jsModule/angular-aria.min.js"></script>
    <script src="../static/js/jsModule/angular-messages.min.js"></script>
    <script src="../static/js/jsModule/angular-material.min.js"></script>
     <!-- Angular Material Library -->

<!--    <script >-->
        <!--var app = angular.module("ItMadelApp",['ngMaterial']);-->
        <!--app.directive("inputFocus",function(){-->
            <!--return function(scope,element,attrs){-->
                <!--element.children().eq(0).on('click',function(){-->
                    <!--scope.toInput = true;-->
                    <!--document.getElementById('search-input').focus();-->
                <!--})-->
            <!--}-->
        <!--})-->
        <!--app.controller("indexCtrl",function($scope){-->
            <!--$scope.fcStyle = {-->
                <!--"background-color": "rgba(154,182,255,0.7)"-->
            <!--}-->
        <!--})-->
    <!--</script>-->
    <!--<script src="../static/js/common.min.js"></script>-->
    <!--<script src="../static/js/common.min.js"></script>-->
    <!--<script src="../static/js/common.min.js"></script>-->
    <script src="../static/js/debug/common.js"></script>
    <script src="../static/js/debug/controller.js"></script>
    <script src="../static/js/debug/directive.js"></script>
    <script src="../static/js/debug/service.js"></script>
</html>
