html {
  background: #fff;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #595959;
  height: initial; }

li {
  list-style: none; }

input:focus {
  outline: none; }

a:not(.md-button) {
  color: black;
  text-decoration: none; }

li, ul, body, p, span, a, h1, h2, h3, h4, img, button,
nav, dl, dt, dd, ul, li, header, footer, input {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

h1, h2, h3 {
  font-weight: 400;
  font-size: 1.8rem; }

body {
  min-width: 980px;
  background: #fff;
  font-size: 1.4rem;
  line-height: 2.4rem; }

button {
  border: none;
  background: #fff; }

.md-button {
  margin: 0; }

.clearfix {
  *zoom: 1; }
  .clearfix::after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both; }

.content-box {
  min-width: 960px;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ib-middle:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle; }

.center-all {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.cart-icon {
  padding: 10.5px 10px;
  width: 30px;
  border-radius: 50%;
  background: #20f280;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: auto; }
  .cart-icon::after {
    content: " ";
    display: block;
    height: 29px;
    width: 30px;
    position: absolute;
    position: static;
    background-image: url("../images/cart.png"); }

.basePseudoElement {
  content: " ";
  display: block;
  position: absolute; }

.title {
  font-size: 1.6rem;
  line-height: 2.6rem; }

.big-title {
  font-size: 1.8rem;
  line-height: 3rem; }

.big-english {
  font-size: 2rem;
  line-height: 3.2rem; }

.nav-sm > span {
  color: #989BA2; }

.md-button {
  min-height: initial; }

.md-wantnum {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #F3F3F3; }
  .md-wantnum span {
    width: 60%;
    height: 10px;
    display: block;
    border-radius: 5px;
    background: -prefix-linear-gradient(left, #13c4f0, #46f2cf);
    background: linear-gradient(to right, #13c4f0, #46f2cf); }

.point-icon {
  display: inline-block;
  height: 8px;
  width: 8px;
  background: #E5E5E5;
  border-radius: 50%; }

.shadow-box {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.lang {
  height: 50px; }
  .lang .signin-container {
    height: 100%;
    line-height: 50px;
    float: right; }
    .lang .signin-container:first-child {
      float: right; }
    .lang .signin-container:last-child {
      float: right; }
    .lang .signin-container.active {
      background: #3d94ff; }
    .lang .signin-container a {
      padding: 0 10px; }

#index-header {
  height: 70px;
  border-bottom: #E5E5E5;
  padding-bottom: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
  #index-header .logo {
    float: left;
    margin-top: 12px; }
  #index-header ul {
    float: left;
    margin: 0 0 0 40px;
    color: #595959; }
    #index-header ul li {
      float: left;
      height: 100%;
      line-height: 70px;
      padding: 0 10px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      #index-header ul li P {
        cursor: pointer; }
      #index-header ul li.active p {
        border-bottom: solid 2px #232323; }
      #index-header ul li:focus {
        outline: none; }
  #index-header .search {
    position: relative;
    float: right;
    margin-top: 22px; }
    #index-header .search button {
      width: 48px;
      height: 48px;
      bottom: -13px;
      outline: 0; }
    #index-header .search .search-btn {
      position: absolute;
      left: -48px; }
    #index-header .search .search-close-btn {
      display: none;
      position: absolute;
      right: -15px;
      opacity: 0; }
    #index-header .search #search-input {
      width: 0;
      outline: none;
      background: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.54);
      padding: 5px 0;
      transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    #index-header .search.show #search-input {
      width: 300px; }
    #index-header .search.show .search-close-btn {
      opacity: 1;
      display: block; }
    #index-header .search label {
      display: block;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.54);
      pointer-events: none;
      position: absolute;
      overflow: hidden;
      left: 0;
      right: 0;
      top: 7px;
      bottom: 0; }
      #index-header .search label::after {
        content: ' ';
        height: 2px;
        width: 10px;
        left: 45%;
        bottom: 0;
        background-color: #000;
        position: absolute;
        visibility: hidden;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
      #index-header .search label.writing {
        visibility: hidden; }
    #index-header .search.line label::after {
      visibility: visible;
      left: 0;
      width: 100%; }

main {
  overflow-x: hidden; }
  main .part-one {
    box-shadow: 0 1px 2px rgba(90, 138, 255, 0.2);
    position: relative;
    z-index: 2;
    height: 234px; }
    main .part-one .points {
      text-align: center; }
    main .part-one .point-icon {
      margin: 5px; }
    main .part-one .point-icon.active {
      background: #595959; }
  main .slider {
    margin-right: 25px;
    color: #595959; }
    main .slider .item {
      display: none; }
    main .slider .item.active {
      display: block; }
    main .slider .pics {
      padding: 30px;
      height: 174px;
      position: relative; }
      main .slider .pics > li {
        height: 100%; }
        main .slider .pics > li div {
          height: 100%; }
      main .slider .pics .dscp {
        position: relative; }
        main .slider .pics .dscp p {
          width: 162px;
          font-size: 1.8rem;
          line-height: 3rem;
          height: 6rem; }
    main .slider .toleft-icon,
    main .slider .toright-icon {
      background: transparent;
      color: #595959;
      position: absolute;
      outline: none;
      cursor: default;
      top: 0;
      bottom: 0; }
    main .slider .toleft-icon {
      left: 0; }
    main .slider .toright-icon {
      right: 0; }
    main .slider .material-icons {
      cursor: pointer;
      font-size: 30px; }
    main .slider .icon > img {
      display: block;
      width: 218px;
      margin: auto; }
  main .declaration {
    background: #3d94ff;
    color: #fff;
    padding: 30px 20px; }
    main .declaration p {
      margin: 10px 0; }
    main .declaration > div:first-child {
      margin: 0 0 20px; }
      main .declaration > div:first-child p {
        line-height: 26px; }
    main .declaration .week-donation p:last-child, main .declaration .total-donation p:last-child {
      font-size: 2.5rem; }
    main .declaration .week-donation {
      border: solid 1px #fff;
      border-left: none; }
    main .declaration .total-donation {
      padding-left: 20px;
      border: solid 1px #fff;
      border-left: none;
      border-right: none; }
  main .part-two {
    background: #f5f7fa; }
  main .shopping {
    margin: 0 auto;
    padding: 45px 0 0; }
    main .shopping .ctrl {
      color: #595959; }
      main .shopping .ctrl h2 {
        float: left;
        line-height: 40px;
        margin-right: 30px; }
      main .shopping .ctrl .dl {
        float: left;
        position: relative; }
        main .shopping .ctrl .dl:focus {
          background: transparent; }
        main .shopping .ctrl .dl > button {
          padding: 0 45px;
          background: transparent;
          color: #595959; }
          main .shopping .ctrl .dl > button:focus {
            background: transparent; }
        main .shopping .ctrl .dl::after {
          content: "\200B";
          width: 0;
          height: 0;
          border-top: 4px solid #000;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          position: absolute;
          top: 18px;
          right: 20px; }
      main .shopping .ctrl .dds {
        max-width: 120px; }
        main .shopping .ctrl .dds .md-button:focus {
          background-color: red !important; }
    main .shopping .goods {
      margin: 0 -15px -15px; }
      main .shopping .goods > div {
        position: relative;
        padding: 15px; }
      main .shopping .goods a {
        background: white;
        display: block;
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        main .shopping .goods a:hover {
          box-shadow: 0 0 10px rgba(90, 138, 255, 0.2); }
      main .shopping .goods a + i.cart-icon {
        display: none; }
      main .shopping .goods a:hover + i.cart-icon {
        display: block; }
      main .shopping .goods .new::before {
        content: " ";
        display: block;
        height: 50%;
        width: 50%;
        position: absolute;
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        left: -25%;
        top: -25%;
        background: #fdda31; }
      main .shopping .goods .new::after {
        content: " ";
        display: block;
        height: 25%;
        width: 25%;
        position: absolute;
        content: "NEW";
        color: #000;
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        left: 7%;
        top: 2%; }
      main .shopping .goods .img {
        height: 50%;
        color: #000;
        text-align: center; }
        main .shopping .goods .img img {
          display: block;
          margin: auto; }
        main .shopping .goods .img .price {
          display: inline-block;
          position: relative;
          top: -35px;
          left: 70px; }
          main .shopping .goods .img .price::before, main .shopping .goods .img .price::after {
            content: " ";
            display: block;
            height: 25px;
            width: 25px;
            position: absolute;
            left: -28px;
            top: -5px;
            border-radius: 50%; }
          main .shopping .goods .img .price::before {
            background: #1acab0; }
          main .shopping .goods .img .price::after {
            line-height: 25px;
            color: #fff;
            content: "$"; }
  main .want-medals {
    padding: 60px 0; }
    main .want-medals > div {
      height: 40px; }
      main .want-medals > div h2 {
        line-height: 40px;
        float: left; }
      main .want-medals > div div {
        line-height: 40px;
        float: right;
        cursor: pointer; }
    main .want-medals .medals li {
      text-align: center; }
    main .want-medals .medals div {
      display: inline-block; }
    main .want-medals .medals .is-mywant::after {
      content: " ";
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      bottom: -6px;
      left: 3px;
      background: url(../images/iwant.png);
      background-size: auto 30px; }
  main .part-three {
    height: 200px;
    background: -prefix-linear-gradient(left, #13c4f0, #46f2cf);
    background: linear-gradient(to right, #13c4f0, #46f2cf); }
    main .part-three .focusme > div {
      width: 33.33%;
      color: #fff;
      margin: 0 auto;
      line-height: 200px; }
    main .part-three .focusme p {
      float: left;
      font-size: 2.4rem; }
    main .part-three .focusme input {
      border: solid 2px #fff;
      border-radius: 20px;
      padding: 7px 25px;
      margin: 0 0 0 40px;
      background: transparent; }

#index-footer {
  height: 250px;
  background: #343539; }
  #index-footer > div {
    height: 100%;
    color: #fff;
    padding: 10px 0; }
    #index-footer > div dt {
      margin-bottom: 30px;
      color: #7D7D7E; }
    #index-footer > div dd, #index-footer > div a {
      color: #DADBDD !important;
      line-height: 30px; }
    #index-footer > div .contact-us,
    #index-footer > div .sitemap {
      display: table;
      margin: auto; }
    #index-footer > div .qr-code {
      display: inline-block;
      float: right;
      text-align: center; }
  #index-footer .copyright {
    border-top: 1px solid #fff;
    padding: 20px 0;
    height: 20px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 20px;
    text-align: center; }
    #index-footer .copyright .copy {
      float: left; }
    #index-footer .copyright .shareto {
      float: right; }

div[login-form], div[reset-password], div[sign-in-form] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(238, 242, 254, 0.9);
  z-index: 1000; }
  div[login-form] article, div[reset-password] article, div[sign-in-form] article {
    width: 30%;
    height: 326px;
    padding: 40px;
    background: #fff; }
    div[login-form] article header, div[reset-password] article header, div[sign-in-form] article header {
      text-align: center; }
      div[login-form] article header .close, div[reset-password] article header .close, div[sign-in-form] article header .close {
        position: absolute;
        right: 20px;
        cursor: pointer;
        top: 20px; }
        div[login-form] article header .close img, div[reset-password] article header .close img, div[sign-in-form] article header .close img {
          margin-top: 5px; }
    div[login-form] article .clearfix, div[reset-password] article .clearfix, div[sign-in-form] article .clearfix {
      margin-top: 20px; }
      div[login-form] article .clearfix button.md-raised, div[reset-password] article .clearfix button.md-raised, div[sign-in-form] article .clearfix button.md-raised {
        float: left;
        color: #fff;
        background-color: #3d94ff; }
        div[login-form] article .clearfix button.md-raised:hover, div[reset-password] article .clearfix button.md-raised:hover, div[sign-in-form] article .clearfix button.md-raised:hover {
          background-color: #3d94ff; }
      div[login-form] article .clearfix p, div[reset-password] article .clearfix p, div[sign-in-form] article .clearfix p {
        float: right;
        line-height: 36px;
        color: #595959; }
      div[login-form] article .clearfix a, div[reset-password] article .clearfix a, div[sign-in-form] article .clearfix a {
        color: rgba(0, 0, 0, 0.7); }
        div[login-form] article .clearfix a:hover, div[reset-password] article .clearfix a:hover, div[sign-in-form] article .clearfix a:hover {
          color: #3d94ff; }

div[reset-password] article {
  height: 175px; }

div[reset-password] footer p {
  cursor: pointer; }
  div[reset-password] footer p:active, div[reset-password] footer p:focus {
    outline: none; }
  .no-touch div[reset-password] footer p:hover {
    color: #333; }

div[sign-in-form] article {
  height: 250px; }
  div[sign-in-form] article .to-login {
    width: 40px;
    min-width: 40px;
    height: 80px;
    background: #3d94ff;
    border-radius: 0;
    position: absolute;
    right: -40px;
    bottom: 20px; }
    div[sign-in-form] article .to-login p {
      display: none;
      width: 1em;
      white-space: normal;
      font-size: 1.6rem;
      color: #fff;
      margin: 0 auto;
      margin-top: 4px; }
    div[sign-in-form] article .to-login .material-icons {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 8px;
      margin-top: -12px;
      color: #fff; }
    div[sign-in-form] article .to-login:hover {
      background: #3d94ff; }
      div[sign-in-form] article .to-login:hover > p {
        display: block; }
      div[sign-in-form] article .to-login:hover > .material-icons {
        display: none; }

div[sign-in-form] footer p {
  cursor: pointer; }
  div[sign-in-form] footer p:active, div[sign-in-form] footer p:focus {
    outline: none; }
  .no-touch div[sign-in-form] footer p:hover {
    color: #333; }

@media (min-width: 960px) {
  md-menu-content[width="5"] {
    min-width: 120px; } }
