<article>
    <aside>
        <p>如果您有更好的建议和意见,欢迎您在右边的留言框里给我们留言,或者发邮件给我们</p>
        <p>EMAIL: &nbsp;XXX@gmail.com</p>
    </aside>
    <section>
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div>
              <md-input-container>
                <label>Title</label>
                <input ng-model="user.title">
              </md-input-container>
    
              <md-input-container>
                <label>Email</label>
                <input ng-model="user.email" type="email">
              </md-input-container>
            </div>
        </md-content>
    
    </section>
</article>
