<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../static/css/index.css" />
<title>首页</title>
</head>

<body ng-app="ItMadelApp" ng-cloak ng-controller="indexCtrl">
    <div class="lang content-box">
        <div class="signin-container clearfix">
            <a href="javascript:;">登入</a>
            <a href="javascript:;">注册</a>
        </div>
    </div>

    <header>

        <nav class="clearfix content-box">
            <div class="logo"><img src="../static/images/logo.png" alt="ITMedal-logo" /></div>
            <ul class="clearfix">
                <li ng-click="tab=1" ng-class="{'active':tab==1||tab==null}"><p>首页</p></li>
                <li ng-click="tab=2" ng-class="{'active':tab==2}"><p>勋章</p></li>
                <li ng-click="tab=3" ng-class="{'active':tab==3}"><p>GOOD IDEA</p></li>
                <li ng-click="tab=4" ng-class="{'active':tab==4}"><p>日志</p></li>
                <li ng-click="tab=5" ng-class="{'active':tab==5}"><p>关于我们</p></li>
            </ul>
     
            <div class="search" ng-class="{'show':toInput,'line':needLine}" input-focus>
                <button class="search-btn" >
                    <i class="material-icons">search</i>
                </button>
                <button class="search-close-btn" ng-click="toInput=false">
                    <i class="material-icons">close</i>
                </button>
                <input type="text" id="search-input" autocomplete="off" ng-model="search" ng-focus="needLine=true" ng-blur="needLine=false">
                <label for="search-input" ng-class="{'writing':search.length>0}">Search</label>
            </div>
        </nav>
    </header>

    <main>
        <div class="part-one">
            <div layout="row" class="intorduction content-box">
                <div class="slider" flex="60">
                    <ul class="pics clearfix" >
                        <button class="toleft-icon">
                            <i class="material-icons">keyboard_backspace</i>
                        </button>
                        <li id="img-1">
                            <div layout="row">
                                <div class="dscp" flex>
                                    <p class="center-all">贴上它, 去攻克它, 就不仅仅是一枚贴纸</p>
                                </div>
                                <div class="icon" flex><img src="../static/images/imac.png" alt=""></div>
                            </div>
                        </li>
                        <button class="toright-icon"></button>
                    </ul>
                    <ul class="now-pic">
                        <li><a class="active" href="#img-1"></a></li>
                        <li><a href="#img-2"></a></li>
                        <li><a href="#img-3"></a></li>
                    </ul>
                </div>

                <div class="declaration" flex="40">
                    <div>
                        <p>为尽棉薄之力,每一样商品的购买,我们将捐献商品价格的10%给开源组织</p>
                    </div>
                    <div layout="row">
                        <div flex="45" class="week-donation">
                            <p>本月捐款</p>
                            <p>287.5</p>
                        </div>
                        <div flex="55" class="total-donation">
                            <p>总捐款</p>
                            <p>222222.22</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="part-two">
            <div  class="shopping clearfix content-box">
                <div class="ctrl clearfix">
                    <h2>勋章</h2>
                    <md-menu-bar class="clearfix">
                        <md-menu class="dl">
                            <button ng-click="$mdOpenMenu()">分类</button>
                            <md-menu-content class="dds">
                                <md-menu-item >
                                    <md-button class="md-primary">linux</md-button>
                                </md-menu-item>
                                <md-menu-item ng-focus="" ng-style="fcStyle">
                                    <md-button class="md-warn">soft</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button>emoji</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu class="dl">
                            <button ng-click="$mdOpenMenu()">分类</button>
                            <md-menu-content class="dds">
                                <md-menu-item>
                                    <md-button>linux</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button>soft</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button>emoji</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </div>
                <div layout="row" layout-wrap class="goods">
                    <div flex="25">
                        <a href="" class="new">
                            <div class="img center-all">
                                <img src="../static/images/angular.png" alt="">
                                <p class="price">7.5</p>
                                <p class="desc">angular贴纸</p>
                            </div>
                        </a>
                        <i class="cart"></i>
                    </div>
                    <div flex="25">
                        <a href="">
                            <div class="img">
                                <img src="" alt="">
                                <p class="desc"></p>
                            </div>
                            <ul class="icons">
                                <li></li>
                            </ul>
                        </a>
                    </div>
                    <div flex="25">
                        <a href="">
                            <div class="img">
                                <img src="" alt="">
                                <p class="desc"></p>
                            </div>
                            <ul class="icons">
                                <li></li>
                            </ul>
                        </a>
                    </div>
                    <div flex="25">
                        <a href="">
                            <div class="img">
                                <img src="" alt="">
                                <p class="desc"></p>
                            </div>
                            <ul class="icons">
                                <li></li>
                            </ul>
                        </a>
                    </div>
                    <div flex="25">
                        <a href="">
                            <div class="img">
                                <img src="" alt="">
                                <p class="desc"></p>
                            </div>
                            <ul class="icons">
                                <li></li>
                            </ul>
                        </a>
                    </div>
                    <div flex="25">
                        <a href="">
                            <div class="img">
                                <img src="" alt="">
                                <p class="desc"></p>
                            </div>
                            <ul class="icons">
                                <li></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>

            <div class="want-medals content-box">
                <div>
                    <h2>GoodIdea</h2>
                    <div>更多</div>
                </div>
                <ul class="medals" layout="row">
                    <li flex="25">
                        <div>
                            <p class="md-name">angularJs</p>
                            <img src="../static/images/angular.png" alt="">
                            <p class="md-wantnum"><span></span></p>
                            <p class="is-mywant">200人想要</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <div class="part-three">
            <div class="focusme content-box">
                <div>
                    <p>订阅</p>
                    <input type="" />
                </div>
            </div>
        </div>
    </main>

    <footer layout="column">
        <div class="content-box" layout="row" layout-wrap flex="auto">
            <div flex="25">
                <dl class="about-us">
                    <dt >关于我们</dt>
                    <dd>我们致力于为IT人提供专业的IT贴纸,以及密切关注IT人的需求.</dd>
                </dl>
            </div>
            <div flex="25">
                <dl class="contact-us">
                    <dt >联系我们</dt>
                    <dd><a class="location" href="">XXX</a></dd>
                    <dd><a class="phonenum" href="">12332112345</a></dd>
                    <dd><a class="e-mail" href="">123456@gmail.com</a></dd>
                </dl>
            </div>
            <div flex="25">
                <dl class="sitemap">
                    <dt >sitemap</dt>
                    <dd><a href="">勋章</a></dd>
                    <dd><a href="">GOODIDEA</a></dd>
                    <dd><a href="">日志</a></dd>
                </dl>
            </div>
            <div flex="25" class="clearfix">
                <dl class="qr-code">
                    <dt>更多关注,请扫描二维码</dt>
                    <dd><i></i></dd>
                </dl>
            </div>
        </div>
        <div class="copyright content-box" flex="none">
            <div class="copy">
                <p>
                    <span>@Copyright 2016 itstickers.com|All logos and trademarks are property of their respective owners.</span>
                    <span></span>
                </p>
            </div>
            <div class="shareto">
                <i class="facebook"></i>
                <i class="twitter"></i>
                <i class="gplus"></i>
            </div>
        </div>
        </div>
    </footer>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-router/1.0.0-beta.1/angular-ui-router.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

     <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

<!--    <script >-->
        <!--var app = angular.module("ItMadelApp",['ngMaterial']);-->
        <!--app.directive("inputFocus",function(){-->
            <!--return function(scope,element,attrs){-->
                <!--element.children().eq(0).on('click',function(){-->
                    <!--scope.toInput = true;-->
                    <!--document.getElementById('search-input').focus();-->
                <!--})-->
            <!--}-->
        <!--})-->
        <!--app.controller("indexCtrl",function($scope){-->
            <!--$scope.fcStyle = {-->
                <!--"background-color": "rgba(154,182,255,0.7)"-->
            <!--}-->
        <!--})-->
    <!--</script>-->
    <!--<script src="../static/js/common.min.js"></script>-->
    <!--<script src="../static/js/common.min.js"></script>-->
    <!--<script src="../static/js/common.min.js"></script>-->
    <script src="../static/js/debug/common.js"></script>
    <script src="../static/js/debug/controller.js"></script>
    <script src="../static/js/debug/service.js"></script>
</body>
</html>
