<div class="part-one">
    <div layout="row" class="intorduction content-box">
        <div class="slider" flex="65">
            <div class="pics clearfix" >
                <button class="toleft-icon">
                    <i class="material-icons" ng-click="toLeft()">arrow_back</i>
                </button>
                <ul>
                    <li class="item active">
                        <div layout="row">
                            <div class="dscp" flex="50">
                                <p class="center-all">贴上它, 去攻克它, 就不仅仅是一枚贴纸</p>
                            </div>
                            <div class="icon" flex="50"><img src="../static/images/imac.png" alt=""></div>
                        </div>
                    </li>
                    <li class="item">
                        <div layout="row">
                            <div class="icon" flex="50"><img src="../static/images/imac.png" alt=""></div>
                            <div class="dscp" flex="50">
                                <p class="center-all">贴上它, 去攻克它, 就不仅仅是一枚贴纸</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="toright-icon"><i class="material-icons" ng-click="toRight()">arrow_forward</i></button>
                <ul class="points">
                    <li class="point-icon active"></li>
                    <li class="point-icon"></li>
                </ul>
            </div>
        </div>

        <div class="declaration" flex="35">
            <div>
                <p>为尽棉薄之力,每一样商品的购买,我们将捐献商品价格的10%给开源组织</p>
            </div>
            <div layout="row">
                <div flex="45" class="week-donation">
                    <p>本月捐款</p>
                    <p>287.5</p>
                </div>
                <div flex="55" class="total-donation">
                    <p>总捐款</p>
                    <p>222222.22</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="part-two" ng-include="curHtmlTemp"></div>
