<article class="sign-in center-all">
    <header>
        <h2>登入</h2>
        <md-button class="md-icon-button close" aria-label="More" ng-click="closeForm()">
            <i class="material-icons">clear</i>
        </md-button>
    </header>
    <main>
        <form name="loginForm">
            <md-input-container class="md-block">
                <label>邮箱</label>
                <input required type="email" name="email" ng-model="user.email"
                       ng-pattern="/^.+@.+\..+$/" />

                <div ng-messages="loginForm.email.$error">
                    <div ng-message="required">邮箱不能为空</div>
                    <div ng-message="pattern">邮箱格式有误</div>
                </div>
            </md-input-container>
        </form>
    </main>
    <footer class="clearfix">
        <md-button class="md-raised">登入</md-button>
        <p ng-click="toSignIn()">返回登入</p>
    </footer>
</article>
