<div class="part-two">
    <div id="medal-item" class="content-box  good-idea" ng-controller="medalItemCtrl">
        <nav>
            <p>
                <a href="">首页</a>&nbsp;>&nbsp;
                <a href="">勋章</a>&nbsp;>&nbsp;
                <a href="">AngularJS贴纸</a>
            </p>
        </nav>
        <article layout="row">
            <md-button class="md-fab share"> 
                <ng-md-icon class="center-all" icon="share" style="fill: #fff" size="16px"></ng-md-icon>
            </md-button>
            <section flex>
                <article class="item">
                    <header layout="row">
                        <div flex="25">
                            <img ng-src="{{medalList[0].cover}}" alt="详情贴纸">
                        </div>
                        <div class="header-content" flex="30">
                            <h3>AngularJS</h3>
                            <p class="md-wantnum"><span></span></p>
                            <p class="is-mywant">200人想要</p>
                        </div>
                    </header>
                    <div>
                        <p>description</p>
                        <p>快去购买吧,祝您早日攻克您的勋章</p>
                    </div>

                </article>
                <section class="else-want">
                    <h2>购买的人还想要</h2>
                    <ul layout="row" layout-wrap>
                        <li flex="25">
                            <div>
                                <img src="../static/images/angular.png" alt="">
                                <p class="md-name">angularJs</p>
                                <p class="md-wantnum"><span></span></p>
                                <p class="is-mywant">200人想要</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="else-like">
                    <h2>购买的人还喜欢</h2>
                    <ul layout="row" layout-wrap>
                        <li ng-repeat="medal in medalList track by $index" >
                            <md-button>
                                <div>
                                    <img ng-src="{{medal.cover}}" alt="">
                                    <p>{{medal.describe}}{{medal.price}}</p>
                                </div>
                            </md-button>
                            <i class="cart-icon"></i>
                        </li>
                    </ul>
                </section>

            </section>
            <aside flex="nogrow">
                <section class="now-hot">
                    <h2>最近热卖</h2>
                    <ul>
                        <li ng-repeat="medal in medalList track by $index" class="clearfix" ng-class="{'active': $index==0}">
                            <img ng-src="{{medal.cover}}" alt="">
                            <p>{{medal.describe}}</p>
                            <p>¥{{medal.price}}</p>
                        </li>
                    </ul>
                </section>
                <section class="tag">
                    <h2>标签</h2>
                    <ul layout="row" layout-wrap>
                        <li flex="nogrow" 
                            ng-repeat="lb in labels" 
                            ng-style="{'background': lb.color}">{{lb.name}}</li>
                    </ul>
                </section>
            </aside>
        </article>
    </div>
</div>